@charset "utf-8";
#header {
	background-color: #000;
	display: block;
	width: 100%;
	background-image: url(../images/head-bg.jpg);
	background-repeat: repeat-x;
	height: 155px;
}
#logo {
	position: absolute;
	left: 250px;
}
#top {
	height: 110px;
	width: 100%;
	position: relative;
}
#top_right {
	display: block;
	position: absolute;
	right: 42px;
	bottom: -1px;
	height: 41px;
	width: 87px;
	text-align: center;
	clear: right;
	padding-top: 20px;
	padding-bottom: 0px;
}
#layout #header #top #top_right a {
	text-decoration: none;
	display: inline-block;
	color: #E28822;
}
#layout #header #nav ul li {
	text-decoration: none;
	float: left;
	list-style-type: none;
	font-size: 16px;
	line-height: 38px;
	padding-top: 0px;
	padding-right: 25px;
	padding-bottom: 0px;
	padding-left: 25px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #CCC;
}
#nav {
	clear: both;
	width: 100%;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	text-align: center;
	height: 38px;
	padding: 0px;
}
#layout #header #nav ul {
	text-align: center;
	display: block;
	width: 980px;
	height: 38px;
	margin: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 300px;
}

#layout #header #nav ul li a:hover ,.page_in {
	color:#F00;
	
}
#content {
	width:800px;
	margin:0 auto;
	border-left: 2px solid #555;
	border-right: 2px solid #555;
	text-align: left;
}	
#content .content1{
    border-left:2px solid #AAA;
    border-right:2px solid #AAA;
}
.content1 ul.list{
	position:relative;
}
.content1 ul.list li{
	display:block;
    padding:0;
    padding-right:60px;
    position:relative;
}
.content1 ul.list li a{
	padding-left:40px;
    display:block;
    line-height:40px;
    color:blue;
    background: url("../images/person.png") no-repeat top left transparent;
}
.content1 ul.list li a:hover,.content1 ul.list li a:focus{
	color:#ffa34f;
}
ul.list li .information{
	margin-left: 400px;
	line-height: 30px;
	color:#777;
}
#content .page{
	position:relative;
	margin:0 auto;
	width:400px;
	height:50px;
}
#content .page .prev{
   float: left;
}
#content .page .next{
	float:right;
}
#content .page:hover{
	cursor: pointer;
}